<div class="page-header">
  <h3>Choice #<%= @choice.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Event</dt>
      <dd><%= @choice.event_id %></dd>

      <dt>Location</dt>
      <dd><%= @choice.location %></dd>

      <dt>Address</dt>
      <dd>
        <div>
          <div id="location_map" style="height: 480px;"></div>
        </div>
      </dd>

      <dt>City</dt>
      <dd>
        <div>
          <div id="location_map" style="height: 480px;"></div>
        </div>
      </dd>

      <dt>State</dt>
      <dd>
        <div>
          <div id="location_map" style="height: 480px;"></div>
        </div>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/choices" class="btn btn-primary">
        Back
      </a>
      <a href="/choices/<%= @choice.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_choice/<%= @choice.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Choice has many votes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Votes
      </li>

      <% @choice.votes.each do |vote| %>
        <li class="list-group-item">
          <a href="/votes/<%= vote.id %>">
            <%= vote.choice_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/votes/<%= vote.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/votes/<%= vote.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_vote/<%= vote.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_vote" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for choice_id -->
      <input type="hidden" name="choice_id" value="<%= @choice.id %>">

      <!-- Label and input for guest_id -->
      <input type="hidden" name="guest_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Vote
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>


<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @choice.address_latitude %>,
        "lng": <%= @choice.address_longitude %>,
        "infowindow": "<h5><%= @choice.created_at %></h5><small><%= @choice.address_formatted_address %></small>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @choice.city_latitude %>,
        "lng": <%= @choice.city_longitude %>,
        "infowindow": "<h5><%= @choice.created_at %></h5><small><%= @choice.city_formatted_address %></small>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @choice.state_latitude %>,
        "lng": <%= @choice.state_longitude %>,
        "infowindow": "<h5><%= @choice.created_at %></h5><small><%= @choice.state_formatted_address %></small>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>