<div class="page-header">
  <h3><%= @event.title %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Host</dt>
      <dd>
        <% if @event.host.present? %>
            <%= @event.host.name %>
          </a>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd><%= @event.date.to_time.strftime('%B %e, %Y') %></dd>

      <dt>Time</dt>
      <dd><%= @event.time.to_time.strftime('%l:%M %p') %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @event.host %>
        <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
          Edit Time
        </a>
        <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
          Cancel Event
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Event has many guests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Guests
      </li>

      <% @event.guests.each do |guest| %>
        <li class="list-group-item">
            <%= guest.guest.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">

            <a href="/delete_guest/<%= guest.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_guest" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for guest name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Guests
        </label>

      <div class="form-group">

        <%= select_tag(:guest_id, options_from_collection_for_select(User.where.not(id: current_user.id), :id, :name, @guest.guest_id), :class => "form-control") %>
      </div>
      <button class="btn btn-block btn-success">
        Invite Guest
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Event has many choices -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Location Options
      </li>

      <% @event.choices.each do |choice| %>
        <li class="list-group-item">
            <%= choice.location %> (<%= choice.address %>, <%= choice.city %>, <%= choice.state %>)
          </a>


            <% vote = choice.votes.find_by(:guest_id => current_user.id, :choice_id => choice.id) %>
            <% if choice.voters.exists?(current_user.id) %>
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <% if choice.voters.count > 1 %>
                  <%= choice.voters.count %> people voted for this (<%= choice.voters.pluck(:name).to_sentence %>)
                <% else %>
                  <%= choice.voters.count %> person voted for this (<%= choice.voters.pluck(:name).to_sentence %>)
                <% end %>

            <% else %>

                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                <input type="hidden" name="choice_id" value="<%= choice.id %>">
                <input type="hidden" name="guest_id" value="<%= current_user.id %>">
                <% if choice.voters.exists? %>
                  <% if choice.voters.count > 1 %>
                    <small class="text-muted"><%= choice.voters.count %> people voted for this (<%= choice.voters.pluck(:name).to_sentence %>)</small>
                  <% else %>
                    <small class="text-muted"><%= choice.voters.count %> person voted for this (<%= choice.voters.pluck(:name).to_sentence %>)</small>
                  <% end %>
                <% else %>
                  <small class="text-muted">No votes</small>
                <% end %>

            <% end %>


          <div class="btn-group btn-group-xs pull-right">
            <a href="/delete_choice/<%= choice.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_choice" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <input type="hidden" name="event_id" value="<%= @event.id %>">

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="">
      </div>

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Option
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
